@prefix-cls: ~'@{ant-prefix}';

.searchTitle {
  border: 0;

  :global {
    .@{prefix-cls}-table-title {
      padding: 10px 0 !important;
    }

    .@{prefix-cls}-table-row {
      overflow: hidden;

      :hover {
        overflow: initial;
      }
    }

    th div {
      font-weight: 600;
    }
  }
}

.inactiveImg {
  width: 18px;
  height: 18px;
  margin-left: 8px;
  margin-top: -1px;
}
