@import '../../../../../theme/screen.less';

.orderTitleStyles {
  width: 100%;

  @media screen and (max-width: @screenSm) {
    .orderTitleButtonStyles {
      display: inline-block;
      float: right;
      padding-right: 8px;
      padding-top: 10px;
    }
  }

  @media screen and (min-width: @screenSmMin) {
    .orderTitleButtonStyles {
      display: inline-block;
      float: right;
      padding-right: 8px;
    }
  }
}

.cardTitleStyle {
  font-family: calibriBold;
  font-size: 14px;
  color: #3B414A;
  letter-spacing: 0.23px;
  line-height: 26px;
}

.formLabelStyle {
  font-family: Calibri;
  font-size: 15px;
  color: #262626;
  letter-spacing: 0.24px;
  text-align: right;
  line-height: 22px;
}

.formStyle {
  :global {
    .ant-form-item-children {
      line-height: 32px !important;
    }

    .ant-form-explain-holder {
      line-height: 0 !important;
    }
  }
}

.tableTitle {
  font-family: calibriBold;
  font-size: 15px;
  color: #565656;
  letter-spacing: 0;
  line-height: 15px;
}

.selectStyle {
  width: 100%;
}

.inputStyle {
  width: inherit;
  margin-right: 10px;
  margin-bottom: 10px;

  :global {
    .ant-input-search,
    .ant-input {
      border: 1px #d9d9d9 solid;
      border-radius: 4px;
    }
  }
}

.operateButtonDivStyle {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 24px 32px;
}

.tableSpan {
  white-space: pre;
}

.statusRadiusStyle {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 10px;
  margin-right: 6px;
  margin-bottom: 1px;
}

.selectedDiv {
  float: right;
  line-height: 32px;

  :global {
    .ant-checkbox-wrapper{
      color: #565656;
    }
  }

  .selectedSpan {
    margin-left: 30px;
    font-size: 14px;
    color: #565656;
    letter-spacing: 0;
    line-height: 15px;
  }
}

.form {
  :global {
    .ant-col{
      height: 45px;
    }
  }
}

.deliveryMode {
  z-index: 1;
}