.titleHeader {
  font-size: 17px;
  font-family: calibriBold;
  color: #171b21;
  line-height: 18px;
  padding: 15px;
  text-align: left;
  letter-spacing: 0.24px;
}

.cancelOk {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  border-top: 1px solid #ebebeb;
  width: calc(100% + 48px);
  margin-left: -24px;

  .ok {
    margin-left: 10px;
  }
}

.DetailTitle {
  border-left: 3px solid #118afa;
  padding-left: 10px;
  font-weight: normal;
  //margin: 0.5rem 0 0.5rem 0;
  line-height: 1.75rem;
  font-size: 15px;
  color: #171b21;
  letter-spacing: 0;
  margin-bottom: 8px;
}

.detailContainer {
  :global {
    .ant-form-item-label {
      padding: 0;
    }
  }
}
