@import '../../../../../../theme/screen.less';

.bodyContainer {
  font-family: calibriBold;
  position: relative;
  padding-bottom: 65px;
}

.filterText {
  height: 44px;
  line-height: 44px;
  font-size: 16px;
  color: #262626;
  padding-left: 16px;
  box-shadow: inset 0 -1px 0 0 #ebebeb;
}

.customerChoiceText {
  color: #c0c0c0;
  font-size: 15px;
  margin-bottom: 8px;
}

.form {
  padding: 8px 16px;
}

.categories {
  :global {
    .ant-form-item-no-colon {
      color: #c0c0c0 !important;
    }
    .ant-checkbox-wrapper span {
      color: #262626 !important;
      font-size: 15px;
    }
  }
}

.marginTop4 {
  margin-top: 4px;
}
.marginBottom8 {
  margin-bottom: 8px;
}

.titleLabelFontCommon {
  font-size: 14px;
  font-family: Calibri;
  color: #606060;
  letter-spacing: 0.24px;
  line-height: 22px;
}
.themeParkTipStyles {
  text-align: left;
  color: #cc282b;
  margin-top: 5px;
}

.themeParkTipStyles2 {
  text-align: left;
  color: #f09770;
  margin-top: 5px;
}

.orderTitleStyles {
  width: 100%;
  height: 34px;

  .orderTitleTipStyles {
    display: inline-block;
    width: calc(100% - 105px);
    text-align: left;
    color: #1890ff;
    padding-left: 12px;
  }

  .orderTitleButtonStyles {
    display: inline-block;
    width: 105px;
  }
}

.offerTypeStyles {
  margin: 8px 0;

  .offerTypeLabel {
    padding: 5px 0;
  }
}

.emptyListFont {
  width: 100%;
  text-align: center;
  font-family: Calibri;
  font-size: 15px;
  color: #858585;
}

.themeParkTipStyles {
  display: inline-block;
  text-align: left;
  color: #f09770;
  margin-top: 5px;
}

@media screen and(min-width: @screenLg) {
  .container {
    min-height: 550px;
  }
}

.radioStyle {
  display: block;
  height: 30px;
  line-height: 30px;
  color: #171b21;
}

.formControl {
  width: 100%;
  border-top: 1px solid #e9e9e9;
  padding: 15px;
  text-align: right;
  position: absolute;
  right: 0;
  bottom: 0px;
}

.attractionFilterContainer {
  padding: 0 15px;
  :global {
    .ant-checkbox-group {
      max-height: 195px;
      overflow: auto;
    }
    .ant-checkbox-wrapper {
      display: block;
      margin-bottom: 4px;
      color: #3b414a;
      margin-left: 0;
    }
    .ant-form-item {
      margin-bottom: 0;
    }
  }
}

.formatTime {
  position: relative;
  .time {
    position: absolute;
    background-color: #fff;
    top: 9px;
    left: 10px;
    height: 20px;
    width: 100px;
    pointer-events: none;
    z-index: 1;
  }
}

.formatPadding {
  :global {
    .ant-calendar-picker-input {
      padding-left: 24px;
    }
  }
}
