.container {
  min-height: 250px;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  :global {
    .ant-fullcalendar-header {
      display: none;
    }
    .ant-fullcalendar-last-month-cell,
    .ant-fullcalendar-next-month-btn-day {
      visibility: hidden;
    }

    .ant-fullcalendar table {
      height: 210px;
    }
    .ant-fullcalendar {
      border-width: 0;
    }
    .ant-fullcalendar-column-header-inner {
      font-weight: 600;
      color: #3b414a;
    }
  }
}

.month {
  color: #171b21;
  font-size: 20px;
  font-weight: 600;
  height: 30px;
  line-height: 30px;
  padding-left: 8px;
}

.day {
  height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dayShow {
  height: 20px;
  width: 100%;
  text-align: center;
}

.peak {
  display: inline-block;
  height: 25px;
  width: 25px;
  line-height: 25px;
  text-align: center;
  background-color: rgb(254, 238, 217);
  color: rgb(250, 155, 34);
  border-width: 0;
  border-radius: 50%;
}

.colorContainer {
  min-height: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.colorItem {
  text-align: center;
  width: 8px;
  height: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.color {
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  margin-right: 2px;
}

.popover {
  :global {
    .ant-popover-arrow {
      display: none;
    }

    .ant-popover-inner
     {
      background-color: rgba(0, 0, 0, 0.90);
      border-color:  rgba(0, 0, 0, 0.90) !important;
    }

    .ant-popover-inner {
      border-radius: 4px;
    }
  }
}

.legendName {
  color: #fff;
  white-space: pre-wrap;
}

.remarks {
  min-width: 50px;
  max-width: 450px;
  font-size: 12px;
  word-wrap: break-word;
  word-break: break-all;
  overflow: hidden;
  color: #fff;
  white-space: pre-wrap;
}
