.tableSubNode {
  background: rgb(247, 247, 247);
}

.customerTableButton {
  width: 30px;
  margin-top: 5px;
  border: 0;
  background: none;
  margin-left: 10px;
}

.creatorSearch {
  width: 130px;
  margin: 10px 10px 5px 10px;

  :global {
    .ant-input-search {
      border-radius: 4px;
    }
  }
}

.creatorReset {
  margin: 10px 10px 5px 0;

  :global {
    .ant-btn {
      line-height: 0;
    }
  }

}

.creatorFilterList {
  margin: 0 15px 0 15px;
  padding: 0 0 10px 0;
}

.filterList {
  margin: 0 15px 0 15px;
  padding: 10px 0 10px 0;

  :global {
    .ant-list-item-content {
      display: flex;
      flex: auto;
      //justify-content: flex-end;
    }
  }
}

.selectedItem {
  color: #1A91FF;
}

.tableStyles {
  :global {

    .ant-table-title {
      padding: 10px 0 !important;
    }

    .ant-table-wrapper {
      border: 0;
    }

    th div {
      font-weight: 600;
    }
  }
}

.card {
  background: white;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
}

.modalTitle {
  font-weight: 600;
  font-size: 15px;
  color: #171B21;
  letter-spacing: 0.24px;
  line-height: 22px;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.modalDetail {
  :global {
    .ant-modal-body {
      padding: 0;
      font-size: 14px;
      line-height: 1.5;
      word-wrap: break-word;
    }
  }
}
