.detailLeftStyle {
  font-size: 14px;
  color: #3B414A;
  letter-spacing: 0.24px;
  line-height: 18px;
  position: relative;
  text-align: left;
  padding-left: 5px;
  margin-top: 14px;
  word-break: break-all;
  word-wrap: break-word;
}

.detailRightStyle {
  font-size: 15px;
  color: #858585;
  letter-spacing: 0.24px;
  text-align: right;
  line-height: 12px;
  position: relative;
  padding-right: 5px;
  margin-top: 15px;
}

.detailTitle {
  border-left: 3px solid #118AFA;
  padding-left: 10px;
  font-weight: normal;
  margin: 0.5rem 0 0.5rem 0;
  line-height: 1.75rem;
  font-size: 15px;
  color: #171B21;
  letter-spacing: 0;
}

.titleHeader {
  font-family: CalibriBold;
  font-size: 14px;
  color: #3B414A;
  letter-spacing: 0.23px;
  line-height: 26px;

  :global {
    .ant-card-bordered {
      border: 0 !important;
    }
  }
}
