.titleHeader {
  font-family: CalibriBold;
  font-size: 14px;
  color: #3B414A;
  letter-spacing: 0.23px;
  line-height: 26px;

  :global {
    .ant-card-bordered {
      border: 0 !important;
    }
  }
}
