@prefix-cls: ~'@{ant-prefix}';

.searchTitle {
  border: 0;

  :global {
    .@{prefix-cls}-table-title {
      padding: 10px 0 !important;
    }

    .@{prefix-cls}-table-row {
      overflow: hidden;

      :hover {
        overflow: initial;
      }
    }

    .@{prefix-cls}-table-footer {
      position: relative;
      padding: 16px 16px;
      color: #565656;
      background: rgba(0, 0, 0, 0);
      border-top: 1px solid #f3f3f3;
      border-radius: 0 0 4px 4px;
    }

    th div {
      font-weight: 600;
    }
  }
}

.tableOperations {
  margin-bottom: 16px;

  > button {
    margin-right: 8px;
  }
}
