
.drawerStyle {
  :global {
    .ant-drawer-body {
      padding: 20px !important;
    }
  }
}

.drawerTitleStyle {
  font-family: calibriBold;
  font-size: 14px;
  color: #3B414A;
  letter-spacing: 0.23px;
  line-height: 26px;
}

.tableTitle {
  font-family: calibriBold;
  font-size: 15px;
  color: #565656;
  letter-spacing: 0;
  line-height: 15px;
}

.labelStyle {
  font-family: Calibri;
  font-size: 15px;
  color: #858585;
  letter-spacing: 0.24px;
  line-height: 22px;
}

.infoStyle {
  font-family: Calibri;
  font-size: 15px;
  color: #3B414A;
  letter-spacing: 0.24px;
  line-height: 22px;
}

.formStyle {
  :global {
    .ant-form-item-children {
      line-height: 32px !important;
    }

    .ant-form-explain-holder {
      line-height: 0 !important;
    }
  }
}

