@import '../../../../theme/screen';

@prefix-cls: ~'@{ant-prefix}';

.marginTop4{
  margin-top: 4px;
}
.marginBottom8{
  margin-bottom: 8px;
}
.titleFontBlackWeight {
  font-family: calibriBold;
  font-size: 16px;
  color: #3B414A;
}
.titleLabelFontCommon {
  font-size: 14px;
  font-family: Calibri;
  color: #606060;
  letter-spacing: 0.24px;
  line-height: 22px;
}

.orderTitleStyles {
  width: 100%;
  height: 36px;

  .orderTitleTipStyles {
    display: inline-block;
    width: calc(100% - 105px);
    text-align: right;
    color: #F98C02;
    padding-right: 12px
  }

  .orderTitleButtonStyles {
    display: inline-block;
    width: 105px;
  }
}

.offerTypeStyles {
  margin: 8px 0;

  .offerTypeLabel {
    padding: 5px 0;
  }
}

.emptyListFont {
  width: 100%;
  text-align: center;
  font-family: Calibri;
  font-size: 15px;
  color: #858585;
}

.themeParkTipStyles {
  display: inline-block;
  text-align: left;
  color: #F09770;
}


