@import '../../../../theme/screen.less';

.inputColStyle {
  padding: 5px 8px;
}

@media screen and (max-width: @screenXsMax) {
  .buttonStyle {
    margin-right: 10px;
    margin-bottom: 10px;
    width: 145px;
  }
}

.buttonStyle {
  margin-right: 10px;
  margin-bottom: 10px;
}

.tableTitle {
  font-family: calibriBold;
  font-size: 15px;
  color: #565656;
  letter-spacing: 0;
  line-height: 15px;
}

.searchTitle {
  :global {
    div.ant-table > .ant-table-content > .ant-table-body > table > .ant-table-thead > tr > th, div.ant-table > .ant-table-content > .ant-table-scroll > .ant-table-body > table > .ant-table-thead > tr > th {
      background: #fafafa;
      height: 44px;
    }

    .ant-table-footer{
      padding: 0 !important;
    }
  }
}

.tableRowStyle {
  height: 44px;
}

.hideIcon{
  height: 44px;
  :global {
    .ant-table-row-expand-icon{
      display: none;
    }
  }
}

.operateButtonDivStyle {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 24px 32px;
}

.tableSpan {
  white-space: pre;
}

.bocaRow {
  height: 44px;
  line-height: 44px;
  background-color: #fff;
  //margin: 9px -24px -9px 24px;
  border: 1px solid #f3f3f3;
}

.bocaTitleCol {
  font-family: calibriBold;
  font-size: 15px;
  color: #565656;
  letter-spacing: 0;
  text-align: center;
}

.bocaValueCol {
  padding-right: 10px;
  text-align: center;
}

.tableFooterDiv {
  height: 44px;
  line-height: 44px;

  .tableFooterSpan {
    font-family: calibriBold;
    font-size: 15px;
    color: #565656;
    letter-spacing: 0;
    line-height: 15px;
    margin-right: 10px;
  }

  .tableTotalPrice {
    font-family: calibriBold;
    font-size: 15px;
    color: #565656;
    letter-spacing: 0;
    line-height: 15px;
  }
}

.offers {
  white-space:normal;
  word-break:break-all;
  word-wrap:break-word; 
}
