@import '../../../../theme/screen.less';

.inputColStyle {
  padding: 5px 8px;
}

@media screen and (max-width: @screenXsMax) {
  .buttonStyle {
    margin-right: 10px;
    margin-bottom: 10px;
    width: 145px;
  }
}

.buttonStyle {
  margin-right: 10px;
  margin-bottom: 10px;
}

.tableTitle {
  font-family: calibriBold;
  font-size: 15px;
  color: #565656;
  letter-spacing: 0;
  line-height: 15px;
}

.operateButtonDivStyle {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 24px 32px;
}

.tableSpan {
  white-space: pre;
}

.bocaRow {
  height: 36px;
  line-height: 36px;
  background-color: #fff;
  margin-top: 4px;
  border: 1px solid #f3f3f3;
}

.bocaTitleCol {
  font-family: calibriBold;
  font-size: 15px;
  color: #565656;
  letter-spacing: 0;
  text-align: center;
}

.bocaValueCol {
  padding-right: 10px;
  text-align: center;
}
