
.orderTitleStyles {
  width: 100%;

  .orderTitleButtonStyles {
    display: inline-block;
    float: right;
    padding-right: 8px;
  }
}

.tableTitle {
  font-family: calibriBold;
  font-size: 15px;
  color: #565656;
  letter-spacing: 0;
  line-height: 15px;
}

.selectStyle {
  width: 100%;
}

.formLabelStyle {
  font-family: Calibri;
  font-size: 15px;
  color: #262626;
  letter-spacing: 0.24px;
  text-align: right;
  line-height: 22px;
}

.inputStyle {
  width: 190px;
  margin-right: 10px;
  margin-bottom: 10px;

  :global {
    .ant-input-search,
    .ant-input {
      border: 1px #d9d9d9 solid;
      border-radius: 4px;
    }
  }
}

.formContainer {
  :global {
    .ant-form-item {
      display: inline-block;
      margin-top: -4px;
    }
  }
}

.tableSpan {
  white-space: pre;
}

.statusRadiusStyle {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 10px;
  margin-right: 6px;
  margin-bottom: 1px;
}

.priceFont {
  font-family: calibriBold;
  font-size: 18px;
  color: #F98C02;
  letter-spacing: 0.29px;
  text-align: right;
  line-height: 22px;
  margin-right: 20px;
}

.selectedDiv {
  float: right;
  line-height: 32px;

  :global {
    .ant-checkbox-wrapper{
      color: #565656;
    }
  }

  .selectedSpan {
    margin-left: 30px;
    font-size: 14px;
    color: #565656;
    letter-spacing: 0;
    line-height: 15px;
  }
}
