.formCardClass {
  :global {
    .ant-card-body {
      padding-bottom: 7px !important;
    }

    .ant-form-explain-holder {
      height: 0;
    }


  }
}

.tableClass {

  :global {
    .ant-table-wrapper {
      border: 0 !important;
    }

    .ant-table-expanded-row > td {
      padding: 0 !important;
    }

    .ant-table-expanded-row td, th {
      background-color: #F8F8F8 !important;
      font-size: 15px !important;
      color: #565656 !important;
      letter-spacing: 0 !important;
    }
  }
}

.iconClass {
  margin-right: 5px;
}
