.BreadcrumbStyle {
  font-family: Calibri;
  font-size: 20px;
  color: #3b414a;
}

.BreadcrumbBold {
  font-family: calibriBold;
  font-size: 20px;
  color: #001d00;
}

.activityCard {
  :global {
    .ant-card-bordered {
      border: 0 !important;
    }
  }
}

.container {
  :global {
    .ant-card-body {
      padding: 15px 24px !important;
    }
  }
}
