.aStyle {
  font-family: Calibri;
  font-size: 15px;
  color: #1890FF;
  position: relative;
  top: 45px;
}

.tabsStyle {
  padding-left: 14px;
  padding-bottom: 24px;
  :global {
    .@{ant-prefix}-tabs-tab-active {
      background: #1890FF !important;
      font-family: Calibri;
      font-size: 15px;
      color: #FFFFFF !important;
    }
  }
}

.transferStyle {
  padding-bottom: 37px !important;
  padding-left: 15px !important;
  :global {
    .@{ant-prefix}-transfer-list {
      width: 450px;
    }
  }
}

.titleStyle {
  font-size: 17px;
  font-family: calibriBold;
  color: #171B21;
}
